
@media (max-width: 768px) {
	.actualidad {
		display: none;
	}
	.fotoNota{
		width: 100%;
	}
	main div p{
		font-size: 1.7rem;
	}
	.tituloNoticia{
		font-size: 1.8rem;
	}
	.fotoArticulo{
		width: 95%;
	}
	.fotoPortada{
		margin: 3rem;
	}
	.ultimasNoticias{
		background: linear-gradient(to bottom, #fafafa, orange);
	}
	
}
