@keyframes urgente {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
.actualidad {
	display: flex;
	background-color: $background-color_1;
}
.actualidadP {
	margin-left: 5rem;
	font-size: 1.5rem;
	padding-top: 1rem;
}
.urgente {
	color: $color_1;
	margin-left: 4rem;
	font-size: 2.3rem;
	font-weight: 700;
	padding-top: 1rem;
}
h3 {
	animation-name: urgente;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
